<!DOCTYPE html>
<html>
  <head>
    <title>TweetTones</title>
    <%= csrf_meta_tags %>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css', '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div id="navbar">
      <div>
        <a href="https://www.jon-lin.com/" target="_blank">Built by Jon Lin</a>
        <a href="https://tone-analyzer-demo.mybluemix.net/" target="_blank">(Note on Scores: < .5 = not likely present, > .5 = likely present, > .75 = very likely present)</a>
      </div>
      <div>
        <a href="https://github.com/jclin2013/TweetTones" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/jclin2013/" target="_blank">LinkedIn</a>
        <a href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/understand-tone.html" target="_blank">More About IBM Watson's Tone Analyzer</a>
      </div>
    </div>

    <div class='tweets-carousel-container'>
    </div>

    <div id="replaceSentiment"></div>

    <div class="all-barcharts">
      <canvas id="emotion-tone-barchart" width="500" height="400"></canvas>
      <canvas id="language-tone-barchart" width="500" height="400"></canvas>
      <canvas id="social-tone-barchart" width="500" height="400"></canvas>
    </div>

    <div class="all-linecharts">
      <canvas id="emotion-linechart"></canvas>
    </div>

    <div id="modals-container">
    </div>

    <%= yield %>
    <%= javascript_include_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js' %>
  </body>
</html>

<% #<a class="twitter-timeline" href="https://twitter.com/realDonaldTrump">Tweets by realDonaldTrump</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> %>
<% # <div class='tweets-carousel-outermost-container'></div> %>
